:root {
    --background: #292929;
    --main-red: #aa0000;
    --main-green: #008000;
    --hover-green: #005f00;
    --main-blue: #7373dd;
    --hover-blue: #4b4b96;
    --main-gray: #303841;
}

body {
    background: var(--background) !important;
    height: 100vh;
}

label {
    color: white;
}

h1 {
    color: white !important;
    margin-bottom: 15px !important;
}

hr {
    color: white !important;
}


.msc-block {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.specs-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 5px;
}

.remove-msc {
    margin-top: 15px;
    background-color: var(--main-red);
    color: white;
    border: none;
    padding: 5px;
}

.add-spec {
    margin-top: 10px;
}

#addMSC {
    padding: 8px !important;
}

.add-spec,
#addMSC {
    background-color: var(--main-green);
    color: white;
    border: none;
    padding: 5px;
}

.add-spec,
#addMSC:hover {
    background-color: var(--hover-green);
}

#downloadJSON {
    background-color: var(--main-blue);
    color: white;
    border: none;
    padding: 8px;
}
#downloadJSON:hover {
    background-color: var(--hover-blue);

}

#standardView, #compactView {
    background-color: rgb(165, 165, 165);
    color: black;
    border: none;
}

#standardView:hover, #compactView:hover {
    background-color: var(--hover-blue);
    color: white;
}



input::file-selector-button {
    background-color: rgb(165, 165, 165);
    color: black;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 7px;
}

#importJSON {
    color: white;
}

#default_text {
    color: white;
    text-align: center;
}